@model IEnumerable<Anbe.Models.ViewModels.CheckListViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="col-lg-9 col-md-9 col-12 pl">
    <div class="shop-archive-content mt-3 d-block">
        <div class="archive-header">
            <h2 class="archive-header-title">آرشیو محصولات</h2>
            <div class="sort-tabs mt-0 d-inline-block pr">
                <h4>مرتب‌سازی بر اساس :</h4>
            </div>
            
         
        </div>
        <div class="product-items">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="Most-visited" role="tabpanel"
                     aria-labelledby="newest-tab">
                    <div class="row">
                        @foreach (var item in @Model)
                        {
                            <div class="col-lg-4 col-md-4 col-12  d-block mb-3">
                                <form method="post">
                                <section class="product-box product product-type-simple">
                                    <div class="thumb">
                                        <a href="#" class="d-block">
                                            <div class="promotion-badge">@item.NameMaqaze</div>
                                           @* <div class="product-rate">
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>*@
                                            <div hidden class="discount-d">
                                                <span>10%</span>
                                            </div>
                                          
                                        </a>
                                    </div>
                                    <div class="title">
                                        <a href="#">
                                           لیست کامل فروش
                                        </a>
                                    </div>
                                 
                                
                                    <button type="submit" asp-action="ShowPrint" asp-controller="CheckList" asp-route-id="@item.Id" class="btn btn-primary mt-3">مشاهده کامل</button>
                                </section>
                                
                                </form>
                            </div>
                        }
                        

                    </div>
                </div>


            </div>
        </div>
        <div class="pagination-product">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link active" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
  

</div>
