@model ViewComponentSample.ViewComponents.GetProfileViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
    
}
  <li class="nav-item dropdown">
      @Model.Name
      </li>