
@model IEnumerable<Anbe.Areas.AnbeAdmin.Models.Color>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MymasterLayout.cshtml";
    System.Globalization.PersianCalendar persian = new System.Globalization.PersianCalendar();
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                لیست رنگها
            </div>
            <div class="card-body">
               
                <p>
                    <a class="btn btn-primary btn-block" href="~/anbeadmin/Color/create" role="button">
                        ایجاد رنگ  جدید
                    </a>
                </p>
           
                <div class="table-responsive">
                    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>رنگ</th>
                                <th>کدهگز</th>
                                <th>عمل گر سیستم</th>
                                    
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Select((value, i) => (value, i)))
                            {
                            <tr>
                                <td class="text-center">@item.i</td>
                                <td class="text-nowrap">@item.value.EsmeRang</td>
                                <td class="text-nowrap">@item.value.HexRag</td>
                                <td class="text-nowrap"><a class="btn btn-success btn-icon" asp-action="Edit" asp-route-id="@item.value.Id"><i class="fa fa-edit text-white"></i></a></td>
                                                                      

                                }

                            </tr>
                            }
                        </tbody>
                    </table>

                  


                </div>
            </div>
        </div>
    </div>
</div>

